ErrorDocument 403 /ErrorDocuments/403.jsp
ErrorDocument 404 /ErrorDocuments/404.jsp
ErrorDocument 408 /ErrorDocuments/408.jsp
ErrorDocument 410 /ErrorDocuments/410.jsp
ErrorDocument 500 /ErrorDocuments/500.jsp
ErrorDocument 504 /ErrorDocuments/504.jsp

DirectoryIndex login.jsp

RewriteEngine On
RewriteBase /

RewriteRule ^ResetPassword/(.+)$ /servlets/Affiliates.ResetPassword?PWRID=$1 [L]

# Legacy links
RewriteRule ^01357(/.*)?$ /
RewriteRule ^03059(/.*)?$ /
RewriteRule ^05594(/.*)?$ /
RewriteRule ^6315(/.*)?$ /
RewriteRule ^8612(/.*)?$ /
RewriteRule ^BlitWise(/.*)?$ /
RewriteRule ^BlueTeaGames(/.*)?$ /
RewriteRule ^BrainBlock(/.*)?$ /
RewriteRule ^CornerstoneTSP(/.*)?$ /
RewriteRule ^Dextronet(/.*)?$ /
RewriteRule ^EmTec(/.*)?$ /
RewriteRule ^InsaneTools(/.*)?$ /
RewriteRule ^MountainKing(/.*)?$ /
RewriteRule ^NewSignup(/.*)?$ /
RewriteRule ^NewSoftwares(/.*)?$ /
RewriteRule ^PMView(/.*)?$ /
RewriteRule ^RedClaw(/.*)?$ /
RewriteRule ^SoftTech(/.*)?$ /
RewriteRule ^speedupmymp3(/.*)?$ /
RewriteRule ^SuperiorInteractive(/.*)?$ /
RewriteRule ^TotallyGame(/.*)?$ /
RewriteRule ^WinStep(/.*)?$ /
RewriteRule ^Yamisoft(/.*)?$ /
RewriteRule ^YoudaGames(/.*)?$ /

# Any .html file in the root folder should be redirected to /  - this can be removed after 3/1/2021
RewriteRule ^calendar.html$ /includes/calendar.html
RewriteRule ^([^.\/])+.html$ /
